@inherits LayoutComponentBase

<BootstrapBlazorRoot>
    @Body
</BootstrapBlazorRoot>

<div id="blazor-error-ui" data-nosnippet>
    Đã xảy ra lỗi không mong muốn.
    <a href="." class="reload">Tải lại</a>
    <span class="dismiss">🗙</span>
</div>
