@inherits LayoutComponentBase

<BootstrapBlazorRoot>
    <main class="login-layout">
        @Body
    </main>
</BootstrapBlazorRoot>

<div id="blazor-error-ui" data-nosnippet>
    Đã xảy ra lỗi.
    <a href="." class="reload">Tải lại</a>
    <span class="dismiss">×</span>
</div>
